{% extends "FOSUserBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/pmsuser/css/Base/auth.css') }}" rel="stylesheet" />
    <link href="{{ asset('/bundles/pmsuser/css/Base/form.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span8 container">
          <h1>{{ 'sign in' | title }}</h1>

          {% block fos_user_content %}
          <form action="{{ path("fos_user_security_check") }}" method="post">
              {% block form %}
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
              <div class="error">{{ error|trans({}, 'FOSUserBundle') }}</div>
              <div class="row-fluid">
                  <div id="left-pane" class="pull-left">
                      <div>
                          <label for="username" class="required">{{ 'username' | title }}</label>
                          <input type="text" id="username" name="username" required="required" maxlength="150" value="{{ last_username }}" class="text-input">
                      </div>
                      <div>
                          <label for="password">{{ 'password' | title }}</label>
                          <input type="password" id="password" name="password" class="text-input" />
                      </div>

                      <div>
                          <input type="checkbox" id="remember_me" name="remember_me" value="on" />
                          <label for="remember_me" class="pull-left">{{ 'remember me' | title }}&nbsp;</label>
                      </div>
                      <div>
                          <button class="btn btn-primary btn-block pull-right" name="submit">
                            {{ 'sign in' | upper }}
                          </button>
                      </div>
                  </div>
                  <div id="right-pane" class="pull-right"></div>
              </div>
              {% endblock %}
        </form>
        {% endblock %}
    </div>
</div>
{% endblock %}
